/* 초기 설정 */

@font-face {
  font-family: SCDream;
  src: url(../font/SCDream4.otf);
}

body {
  margin: 0;
  font-family: SCDream;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

figure {
  margin: 0;
}

figcaption {
 line-height: 35px;
}

/* header */

header {
  position: relative;
  color:#ffffff;
}

.visual  {
  height: 600px;
  width: 100%;
  overflow: hidden;

}
.slide_box {  
  width: calc(100%*5);
  height: 100%;
}

.slide_item {
  padding-inline-start: 0px;
  padding: 0px; 
  float: left;
  max-width: 20%;
  height: 100%;

}
.slide_item > img  {
  width: 100%;    
}
.header_top {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 8px 65px;
  text-shadow: 2px 2px black;
}
.time_container {
  font-size: 20px;
  text-shadow: 2px 2px black;
  margin: 21px;
}

/* main */
main {
  padding: 0 6%;
}
/* 인용구 */
.quote {
font-size: 30px;
min-height: 450px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-style: italic;

}

/* 정렬 초기화 버튼 */
.search_box {
  box-sizing: border-box;
  width: calc(100% - 60px);
  text-align: right;
  padding: 10px 0px;
  margin: 0 auto 15px;
  border-bottom: 1px solid #cccccc;
  
}
.search_box > button {
  background-color: #fff;
  border-width: 0ch;
  border-bottom: 2px;
  font-size: 18px;
  color: #999;
}


.reset_sort_btn {
  display: none;
}

/* 검색창 */
.recipe_search {
  box-sizing: border-box;
  width: 220px;
  height: 30px;
  border: 3px solid #cccccc;
  margin-left: 15px;
  font-size: 18px;
  padding-left: 10px;
}

/* 레시피 ul요소 */
.recipe_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* 레시피 li요소 */
.recipe {
  /* height: 500px; */
  flex-grow: 1;
  width: 28%;
  max-width: 600px;
  text-align: center;
  margin: 15px 30px;
} 
.search_recipe {
  margin: 15px auto;
}  

.recipe_img {
  width: 100%;
}
.reset_sort_btn {
  display: none;
}

/* 상단이동버튼 */
.up_btn {
font-size: 20px;
display: none;
position: fixed;
bottom: 50px;
right: 50px;
height: 50px;
width: 50px;
border-radius: 20px;
}


/* modal */

.modal_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(70, 70, 70, 0.7);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_viewport {
  width: 60%;
  height: 80%;
  background-color: #fff;
  overflow: hidden;
}

.modal_list {
  width: 300%;
  height: 100%;
  display: flex;
}

.modal_view {
  float: left;
  width: 100%;
  height: 100%;
}
.modal_wrapper [class$="_btn"] {
  background-color: transparent;
  border: none;
  position: absolute;
}
.modal_wrapper [class$="_btn"] img {
  width: 100%;
}
.modal {
  height: 100%;
  text-align: center;
}
.index {
  margin-top: 40px;

  font-size: 18px;
  color: indianred;
}
.modal_title {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.modal_img {
  margin-top: 50px;
  width: 40%;
  height: auto;
}
.ingredient {
  margin-top: 20px;
  font-size: 18px;

  display: inline-block;
}
.serving {
  margin-left: 10px;
  width: 40px;
  height: 30px;
  font-size: 18px;
  line-height: 2px;
}
.content_img {
  margin-top: 75px;
  width: 25%;
  height: auto;
}
.content_text {
  margin-top: 20px;
  font-size: 20px;
}

.timer_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.timer {
  margin-top: 0px;
  font-size: 45px;
  line-height: 55px;
}
.pre_btn {
  width: 70px;
  height: 70px;
  transform: rotate(180deg);
  left: 12%;
}

.next_btn {
  width: 70px;
  height: 70px;
  right: 12%;
}

.reset_btn {
  width: 52px;
  height: 52px;
  right: 15%;
  top: calc(12% + 60px);
}


.close_btn {
  top: 10%;
  right: 15%;
  width: 50px;
  height: 50px;
  
}

.timer_start {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icon/icon_play.png");
  background-size: contain;
}
.timer_stop {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icon/icon_pause_211791.png");
  background-size: contain;
}
.timer_reset {
  display: none;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icon/icon_undo3.png");
  background-size: contain;
}

.end {
  height: 300px;
  display: block;
  font-size: 50px;
  margin-top: 50px;
  background-image: url(/images/icon/pngfind.com-food-icon-png-58345.png);
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}
.ending_msg {
  font-size: 30px;
}
footer {
  margin-top: 150px;
  width: 100%;
  height: 130px;
  background-color: #cccccc;
}